.post-comments {
    .comments-list {
        .comments-comment {
            position: relative;
            .comments-actions{
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                padding: 0.75rem 1.25rem;
                .comments-edit {
                    .fa-stack-1x{
                        color: $brand-warning;
                    }
                    &:hover {
                        .fa-stack-2x {
                            color: $brand-warning;
                        }
                        .fa-stack-1x{
                            color: $white;
                        }
                    }
                }
                .comments-delete{
                    .fa-stack-1x{
                        color: $brand-danger;
                    }
                    &:hover {
                        .fa-stack-1x{
                            color: $white;
                        }
                        .fa-stack-2x {
                            color: $brand-danger;
                        }
                    }
                }
                .comments-delete,
                .comments-edit {
                    .fa-stack-2x {
                        color: $white;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            &:hover {
                .comments-actions {
                    display: inline-block;
                }
            }
        }
    }
}